@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: "Poppins";
}

body{
    background-image: linear-gradient(to left, rgb(54, 208, 255), rgb(38, 0, 255));
}

#login-table {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 60vh;
    width: 60vw;
}

.introducao, .login-time{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introducao{
    background-color: aqua;
    text-align: justify;
    padding: 100px;
}

.introducao .textoIntroducao{
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.login-time{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-time i{
    position: relative;
    top: 17%;
    left: 11.5px;
    transform: translateY(-50%);
    color: rgba(182, 182, 182, 0.616);
    font-size: 16px;
}

.user-login{
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    width: 230px;
    height: 35px;
    border: none;
    border-radius: 60px;
    padding-left: 30px;
}

.user-form{
    display: flex;
    flex-direction: column;
}

.forgot{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.forgot p{
    font-size: 11px;
    width: 130px;
    color: rgb(143, 201, 252);
    margin-bottom: 10px;
    margin-left: 10px;
    text-transform: lowercase;
}

button{
    margin-top: 10px;
    width: 130px;
    border-radius: 60px;
    border: none;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: white;
    background-color:  rgba(0, 26, 255, 0.849);
}